{{>partials/navbar}}

<form action="/ingresar" method="POST" class="form-container">
    <input type="text" name="imagen" class="form-control" placeholder="Ingrese la URL de la imagen">
    <button type="submit" class="btn btn"> Subir la imagen</button>
</form>